@model InventoyAndSalesCleanArchitect.ProductTypeCode.Model.CreateProductTypeViewModel

<h3>Create Product Type Code</h3>

<div class="container">
    @using (Html.BeginForm("create", "ProductTypeCode", FormMethod.Post))
    {
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-7">

                    <div class="form-group">
                        <label for="ProductTypeCode">Product Type Code: </label>
                        @Html.TextBoxFor(x => x.createProductTypesModel.ProductTypeCode, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        <label for="ProductTypeDescription">Product Type Description: </label>
                        @Html.TextAreaFor(x => x.createProductTypesModel.ProductTypeDescription, new { @class = "form-control" })
                    </div>


                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary">Save</button>                
            </div>
        </form>
    }
</div>